[Desktop Entry]
Name=Sound Booth
Comment=Digital Audio Workstation for FyrDE
Exec=/usr/local/bin/fyrdaw
Icon=fyrdaw
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
